src/test/resources/xml_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="TravelerinformationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="xs:unsignedByte" />
                <xs:element name="per_page" type="xs:unsignedByte" />
                <xs:element name="totalrecord" type="xs:unsignedShort" />
                <xs:element name="total_pages" type="xs:unsignedShort" />
                <xs:element name="travelers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Travelerinformation">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:unsignedShort" />
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="email" type="xs:string" />
                                        <xs:element name="adderes" type="xs:string" />
                                        <xs:element name="createdat" type="xs:dateTime" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xsd:schema>